{% extends "base.html" %}

{% block content %}
<h1>Мои заказы</h1>
{% for item in items %}
<div class="container">
    <h2>Заказ {{item[0].id}}</h2>
    <div class="row">
        <div class="col">
            <h5>Вес</h5>
        </div>
        <div class="col">
            <h5>Регион</h5>
        </div>
        <div class="col">
            <h5>Адрес</h5>
        </div>
        <div class="col">
            <h5>Время доставки</h5>
        </div>
        <div class="col">
            <h5>Курьер</h5>
        </div>
        <div class="col">
            <h5>Доставлен в</h5>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ item[0].weight }}
        </div>
        <div class="col">
            {{ item[0].region }}
        </div>
        <div class="col">
            {{ item[0].address }}
        </div>
        <div class="col">
            {{ item[1].hours }}
        </div>
        <div class="col">
            {{ item[2] }}
        </div>
        <div class="col">
            {% if item[0].complete_time %}
            <p>{{ item[0].complete_time }} по Гринвичу</p>
            {% else %}
            <p>В пути</p>
            {% endif %}
        </div>
    </div>

</div>
{% endfor %}
{% endblock %}