{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        <div class="d-flex flex-column" style="align-items: center;justify-content: center; gap: 7px">


            {% if not current_user.is_authenticated %}
                <h2 style="width: 65vw; text-align: center">Добро пожаловать на сайт "РостовExpress"!</h2>
                <div id="intro0" style="width: 65vw; font-size: medium; background-color: #DDFFED; border-radius: 10px">
                    РостовExpress - надежный и быстрый сервис доставки в Ростове-на-Дону!<br><br>

                </div>
                <div id="intro1" style="width: 65vw; font-size: medium; background-color: #DDFFEF; border-radius: 10px">

                    Мы предлагаем широкий спектр услуг по доставке товаров: от мелких посылок до крупногабаритных
                    грузов. Наша команда профессиональных курьеров всегда готова оперативно доставить ваш заказ,
                    сохраняя его целостность и сохранность.<br><br>

                </div>
                <div id="intro2" style="width: 65vw; font-size: medium; background-color: #DDFFF3; border-radius: 10px">

                    Наши цены доступны и конкурентоспособны на рынке доставки в Ростове-на-Дону.<br><br>

                </div>
                <div id="intro3" style="width: 65vw; font-size: medium; background-color: #DDFFF8; border-radius: 10px">

                    Не теряйте время на поездки в магазин или ожидание заказа - доверьтесь нам и мы доставим вашу
                    посылку вовремя и в целости и сохранности. Заказывайте доставку на сайте "РостовExpress" уже
                    сегодня!<br><br>
                </div>
                <div id="intro4" style="width: 65vw; font-size: medium; background-color: #DDFFFD; border-radius: 10px">

                    Чтобы начать работу <a href="/register">зарегистрируйтесь на сайте</a>
                </div>

            {% else %}
                {% if current_user.user_type < 3 %}
                    <a class="btn btn-success" style="width: 180px; height:80px;" href="/orders">Сделать
                        заказ</a>
                    {% if current_user.user_type < 2 %}
                        <a class="btn btn-success" style="width: 180px; height:80px" href="/users/edit">Подать
                            заявку</a>
                    {% else %}
                        <a class="btn btn-success" style="width: 180px; height:80px" href="/users/edit">Редактировать
                            информацию</a>
                    {% endif %}
                    <a class="btn btn-success" style="width: 180px; height:80px" href="/orders/view">Мои
                        заказы</a>
                {% endif %}
                {% if current_user.user_type == 2 %}
                    <a class="btn btn-success" style="width: 180px; height:80px" href="/orders/assign">Взять
                        заказ</a>
                    <a class="btn btn-success" style="width: 180px; height:80px" href="/orders/complete/list">Выполнить
                        заказ</a>
                    <a class="btn btn-success" style="width: 180px; height:80px"
                       href="/couriers/get">Статистика</a>
                {% endif %}
                {% if current_user.user_type == 3 %}
                    <a class="btn btn-success" style="width: 180px; height:80px" href="/couriers/delete">Удалить
                        курьера</a>
                    <a class="btn btn-success" style="width: 180px; height:80px" href="/couriers">Утвердить
                        курьера</a>
                    <a class="btn btn-success" style="width: 180px; height:80px" href="/admins">Назначить
                        админов</a>
                    <a class="btn btn-success" style="width: 180px; height:80px" href="/history">История</a>
                    <a class="btn btn-success" style="width: 180px; height:80px" href="/orders/view">Заказы в
                        системе</a>
                {% endif %}

            {% endif %}


        </div>


    </form>
{% endblock %}